button {
  background-color: rgb(5, 5, 58);
  border: 1px solid rgb(5, 5, 58);
  border-radius: 5px;
  color: white;
  padding: 5px 15px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(5, 5, 58);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn:hover {
  color: white;
  transform: translateY(-1px);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}
