.modal-content {
  background-color: #fefefe;
  background: rgba(0, 0, 0, 0.372);
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  width: 400px;
  max-width: 90%;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.modal-header {
  text-align: center;
  margin-bottom: 20px;
}

.modal-header h2 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.modal-body {
  margin-bottom: 20px;
  color: white;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
}

.cancel-button,
.confirm-button {
  margin-left: 10px;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.cancel-button {
  background-color: #ddd;
}

.confirm-button {
  background-color: #4caf50;
  color: white;
}
